# vim.gitignore
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

# general things to ignore
build/
dist/
*.egg-info/
*.egg
*.py[cod]
__pycache__/
*.so
*~

# due to using tox and pytest
.tox
.cache

# Ignore PyCharm files.
.idea/

# Unit test / coverage reports
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

db.sqlite3
