<p>
	Last Updated: May 16, 2017
</p>
<p>
	PLEASE READ THIS TERMS OF USE AGREEMENT (THE "TERMS OF USE") CAREFULLY. BY
	ACCESSING OR USING THE EXPERCHAT APPLICATION ("APP"), SERVICES (AS DEFINED
	BELOW) OR ANY OTHER SERVICES OF EXPERCHAT, INC., ITS AFFILIATES,
	SUBSIDIARIES OR AGENTS (COLLECTIVELY, "EXPERCHAT") (COLLECTIVELY, THE
	"SERVICE") IN ANY WAY, INCLUDING USING THE SERVICES AND RESOURCES AVAILABLE
	OR ENABLED VIA THE APP OR SERVICE BY EXPERCHAT OR USERS OF THE SERVICE,
	COMPLETING THE REGISTRATION PROCESS, AND/OR MERELY BROWSING THE SERVICE,
	YOU REPRESENT THAT (1) YOU HAVE READ, UNDERSTAND, AND AGREE TO BE BOUND BY
	THE TERMS OF USE, (2) YOU ARE OF LEGAL AGE TO FORM A BINDING CONTRACT WITH
	EXPERCHAT, AND (3) YOU HAVE THE AUTHORITY TO ENTER INTO THE TERMS OF USE
	PERSONALLY OR ON BEHALF OF THE COMPANY YOU REPRESENT, AND TO BIND THAT
	COMPANY TO THE TERMS OF USE. THE TERM "YOU" REFERS TO THE INDIVIDUAL OR
	LEGAL ENTITY, AS APPLICABLE, IDENTIFIED AS THE CUSTOMER WHEN YOU REGISTERED
	ON THE SERVICE. IF YOU DO NOT AGREE TO BE BOUND BY THE TERMS OF USE, YOU
	MAY NOT ACCESS OR USE THE SERVICE OR THE SERVICES.
</p>
<p>
	THE TERMS OF USE REQUIRE THE USE OF ARBITRATION TO RESOLVE DISPUTES, RATHER
	THAN COURT TRIALS OR CLASS ACTIONS, AND ALSO LIMIT THE REMEDIES AVAILABLE
	TO YOU IN THE EVENT OF A DISPUTE.
</p>
<p>
	The "Services" consist of the following, without limitation: EXPERCHAT
	provides a SERVICE and mobile software application, ("Application") for
	users ("Users") to seek out and request video sessions with Independent
	Domain Experts ( "Experts" ) in a variety of subject matter fields and
	additional services that may be added by EXPERCHAT. The term "Users" refers
	to both Users and Experts.
</p>
<p>
	PLEASE NOTE THAT THE TERMS ARE SUBJECT TO CHANGE BY EXPERCHAT IN ITS SOLE
	DISCRETION AT ANY TIME. When changes are made, EXPERCHAT will post a new
	copy of the Terms of Use. We will also update the "Last Updated" date at
	the top of the Terms of Use. If we make any material changes, and you have
	registered to use the Services, we will also send an e-mail to you at the
	last e-mail address you provided to us pursuant to the Terms. Any changes
	to the Terms will be effective immediately for new Users of the SERVICE and
	will be effective thirty (30) days after posting of notice of such changes
	for existing Users, provided that any material changes shall be effective
	for Users who have a registered EXPERCHAT account upon the earlier of
	thirty (30) days after posting of notice of such changes or thirty (30)
	days after dispatch of an e-mail notice of such changes to Registered Users
	(defined in Section 3.1 below). EXPERCHAT may require you to provide
	consent to the updated Terms in a specified manner before further use of
	the SERVICE is permitted. If you do not agree to any change(s) after
	receiving a notice of such change(s), you shall stop using the SERVICE.
	Otherwise, your continued use of the SERVICE constitutes your acceptance of
	such change(s). PLEASE REGULARLY CHECK THE SERVICE TO VIEW THE THEN-CURRENT
	TERMS.
</p>
<p>
	2. Use of the Services and EXPERCHAT Properties. The Application, the
	SERVICE, and the Content (collectively, the "EXPERCHAT Properties") are
	protected by copyright laws throughout the world. Subject to the Terms,
	EXPERCHAT grants you a limited license to reproduce portions of the
	EXPERCHAT Properties for the sole purpose of using the Services for your
	personal or internal business purposes. Unless otherwise specified by
	EXPERCHAT in a separate license, your right to use any EXPERCHAT Properties
	is subject to the Terms.
</p>
<p>
	2.1 Application License. Subject to your compliance with the Terms,
	EXPERCHAT grants you a limited non-exclusive, non-transferable,
	non-sublicensable, revocable license to download, install and use a copy of
	the App on a mobile device that you own or control and to run such copy of
	the App solely for your own personal or internal business purposes.
	Furthermore, with respect to any App accessed through or downloaded from
	the Apple App Store (an "App Store Sourced Application"), you will only use
	the App Store Sourced App (i) on an Apple-branded product that runs the iOS
	(Apple's proprietary operating system) and (ii) as permitted by the "Usage
	Rules" set forth in the Apple App Store Terms of Service. Furthermore, with
	respect to any Application accessed through or downloaded from the Google
	Play Store (an "Google Play Sourced Application"), you will only use the
	Google Play Store Sourced Application (i) on a product that runs Google
	Android (Google's proprietary operating system) and (ii) as permitted by
	the "Usage Rules" set forth in the Google Play Store Terms of Service.
</p>
<p>
	2.2 Certain Restrictions. The rights granted to you in the Terms are
	subject to the following restrictions: (a) you shall not license, sell,
	rent, lease, transfer, assign, reproduce, distribute, host or otherwise
	commercially exploit the EXPERCHAT Properties or any portion of the
	SERVICE, (b) you shall not frame or utilize framing techniques to enclose
	any trademark, logo, or other EXPERCHAT Properties (including images, text,
	page layout or form) of EXPERCHAT; (c) you shall not use any metatags or
	other "hidden text" using the EXPERCHAT name or trademarks; (d) you shall
	not modify, translate, adapt, merge, make derivative works of, disassemble,
	decompile, reverse compile or reverse engineer any part of the EXPERCHAT
	Properties except to the extent the foregoing restrictions are expressly
	prohibited by applicable law; (e) you shall not use any manual or automated
	software, devices or other processes (including but not limited to spiders,
	robots, scrapers, crawlers, avatars, data mining tools or the like) to
	"scrape" or download data from any web pages contained in the SERVICE
	(except that we grant the operators of public search engines revocable
	permission to use spiders to copy materials from the SERVICE for the sole
	purpose of and solely to the extent necessary for creating publicly
	available searchable indices of the materials, but not caches or archives
	of such materials) or to record all or any portion of any Expert Sessions;
	(f) you shall not access the EXPERCHAT Properties in order to build a
	similar or competitive SERVICE, application or service; (g) except as
	expressly stated herein, no part of the EXPERCHAT Properties may be copied,
	reproduced, distributed, republished, downloaded, displayed, posted or
	transmitted in any form or by any means; and (h) you shall not remove or
	destroy any copyright notices or other proprietary markings contained on or
	in the EXPERCHAT Properties. Any future release, update or other addition
	to the EXPERCHAT Properties shall be subject to the Terms. EXPERCHAT, its
	suppliers and service providers reserve all rights not granted in the
	Terms. Any unauthorized use of the EXPERCHAT Properties terminates the
	licenses granted by EXPERCHAT pursuant to the Terms.
</p>
<p>
	2.3 Third-Party Materials. As a part of the EXPERCHAT Properties, you may
	have access to materials that are hosted by another party. You agree that
	it is impossible for EXPERCHAT to monitor such materials and that you
	access these materials at your own risk.
</p>
<p>
	3. Registration.
</p>
<p>
	3.1 Registering your Account. In order to access certain features of the
	EXPERCHAT Properties you may be required to become a Registered User. For
	purposes of the Terms, a "Registered User" is a User who has registered an
	account on the SERVICE ("Account") using a valid email account.
</p>
<p>
	3.2 Registration Data. In registering for the Services, you agree to (1)
	provide true, accurate, current and complete information about yourself
	(the "Registration Data" ); and (2) maintain and promptly update the
	Registration Data to keep it true, accurate, current and complete. You
	represent that you are (1) at least eighteen (18) years old; (2) of legal
	age to form a binding contract; and (3) not a person barred from using the
	EXPERCHAT Properties under the laws of the United States, your place of
	residence or any other applicable jurisdiction. You are responsible for all
	activities that occur under your Account. You agree that you shall monitor
	your Account to restrict use by minors, and you will accept full
	responsibility for any unauthorized use of the EXPERCHAT Properties by
	minors. You may not share your Account or password with anyone, and you
	agree to (1) notify EXPERCHAT immediately of any unauthorized use of your
	password or any other breach of security; and (2) exit from your Account at
	the end of each session. If you provide any information that is untrue,
	inaccurate, not current or incomplete, or EXPERCHAT has reasonable grounds
	to suspect that such information is untrue, inaccurate, not current or
	incomplete, EXPERCHAT has the right to suspend or terminate your Account
	and refuse any and all current or future use of the EXPERCHAT Properties
	(or any portion thereof). You agree not to create an Account using a false
	identity or information, or on behalf of someone other than yourself. You
	agree that you shall not have more than one Account at any given time.
	EXPERCHAT reserves the right to remove or reclaim any usernames at any time
	and for any reason, including but not limited to, claims by a third-party
	that a username violates the third-party's rights. You agree not to create
	an Account or use the EXPERCHAT Properties if you have been previously
	removed by EXPERCHAT, or if you have been previously banned from any of the
	EXPERCHAT Properties.
</p>
<p>
	4. Services. The following terms apply only to Users.
</p>
<p>
	4.1 Scheduling. When selecting and confirming an Expert Session for the
	Services, you are agreeing to pay the applicable fee associated with that
	particular Expert ("Fee"). Confirming an order for an Expert Session
	constitutes a binding legal agreement to pay the Fee in accordance with the
	terms set forth in this Agreement. You acknowledge that when you confirm an
	Expert Session and agree to pay the applicable Fee, the Agreement you have
	formed is with the applicable Expert, and not EXPERCHAT, which is merely
	providing a service platform for Experts.
</p>
<p>
	4.2 Cancelling Sessions. You may cancel a confirmed order up to twenty-four
	hours prior to the scheduled start time of the applicable Expert Session
	without incurring any Fee charges to your Account. In the event that you
	cancel within twenty-four hours of the scheduled start time, your Account
	will be charged 25% of the applicable Fee.
</p>
<p>
	4.3 Recording Expert Sessions. You agree that you will not record or use
	(other than solely for your personal use), redistribute, retransmit or
	share any portion of any Expert Sessions including, without limitation,
	posting the Expert Sessions or a portion thereof on any social media site,
	online or video sharing site, such as YouTube and the like.
</p>
<p>
	4.4 Payment. You agree to pay all fees or charges to your Account in
	accordance with the fees, charges, and billing terms in effect at the time
	a fee or charge is due and payable. You must provide EXPERCHAT's third
	party payment processor with a valid credit card (Visa, MasterCard,
	American Express or any other issuer accepted by us) ("Payment Provider")
	as a condition to signing up for the Services. Your Payment Provider
	agreement governs your use of the designated credit card, and you must
	refer to that agreement and not the Terms to determine your rights and
	liabilities. By providing EXPERCHAT's third party payment processor with
	your credit card number and associated payment information, you agree that
	EXPERCHAT is authorized to immediately invoice your Account for all fees
	and charges due and payable to EXPERCHAT hereunder and that no additional
	notice or consent is required. You agree to immediately notify EXPERCHAT of
	any change in your billing address or the credit card used for payment
	hereunder. EXPERCHAT reserves the right at any time to change its prices
	and billing methods, either immediately upon posting on the EXPERCHAT
	Properties or by e-mail delivery to you.
</p>
<p>
	4.5 Expert's Taxes for Services. EXPERCHAT's fees are net of any applicable
	Sales Tax. If any Services, or payments for any Services, under the Terms
	are subject to Sales Tax in any jurisdiction, you will be responsible for
	the payment of such Sales Tax and any related penalties or interest to the
	relevant tax authority and you will indemnify EXPERCHAT for any liability
	or expense we may incur in connection with such Sales Taxes. Upon our
	request, you will provide us with official receipts issued by the
	appropriate taxing authority, or other such evidence that you have paid all
	applicable taxes. For purposes of this section, "Sales Tax" shall mean any
	sales or use tax, and any other tax measured by sales proceeds, that
	EXPERCHAT determines is the functional equivalent of a sales tax where the
	applicable taxing jurisdiction does not otherwise impose a sales or use
	tax. In the alternative, EXPERCHAT reserves the right in its sole and
	absolute discretion to collect any sales tax imposed on a sale of Services
	from you through the payment system described above in this Paragraph 4.4.
</p>
<p>
	4.6 Withholding Taxes. You agree to make all payments of fees to EXPERCHAT
	free and clear of, and without reduction for, any withholding taxes. Any
	such taxes imposed on payments of fees to EXPERCHAT will be your sole
	responsibility, and you will provide EXPERCHAT with official receipts
	issued by the appropriate taxing authority, or such other evidence as we
	may reasonably request, to establish that such taxes have been paid.
</p>
<p>
	4.7 Disputes. You must notify us in writing within seven (7) days after
	receiving your credit card statement, if you dispute any of our charges on
	that statement or such dispute will be deemed waived. Billing disputes
	should be communicated to Experchat's Customer Service.
</p>
<p>
	5. Expert Services. The following terms apply only to Expert Users.
</p>
<p>
	5.1 Expert Accounts. Users of the Service who possess a valid Account may
	become Experts by following the directions on the SERVICE, at which time
	EXPERCHAT may require you to provide additional Registration Data.
	EXPERCHAT may use certain methods to screen potential Experts in an effort
	to prevent spam or to prevent repeat abusers of these Terms from creating
	an Expert Account. EXPERCHAT reserves the right in its sole and absolute
	discretion to determine whether to permit you to become an expert on the
	Experchat System. In order to become an expert, you must execute
	EXPERCHAT's Independent Consulting Agreement and such other agreements in
	effect at the time between EXPERCHAT and experts.
</p>
<p>
	6. Ownership.
</p>
<p>
	6.1 EXPERCHAT Properties. You agree that EXPERCHAT and its suppliers own
	all rights, title and interest in the EXPERCHAT Properties (including but
	not limited to, titles, computer code, themes, objects, concepts, artwork,
	animations, videos, sounds, musical compositions, audiovisual effects,
	methods of operation, moral rights). You will not remove, alter or obscure
	any copyright, trademark, service mark or other proprietary rights notices
	incorporated in or accompanying the SERVICE or the EXPERCHAT Properties.
</p>
<p>
	6.2 Trademarks. EXPERCHAT's stylized name and other related graphics,
	logos, service marks and trade names used on or in connection with the
	EXPERCHAT Properties are the trademarks of EXPERCHAT and may not be used
	without permission in connection with any third-party products or services.
	Other trademarks, service marks and trade names that may appear on or in
	the EXPERCHAT Properties are the property of their respective owners.
</p>
<p>
	6.3 Other Content. You agree that you have no right or title in or to any
	Content that appears on or in the EXPERCHAT Properties.
</p>
<p>
	6.4 Your Account. Notwithstanding anything to the contrary herein, you
	acknowledge and agree that you shall have no ownership or other property
	interest in your Account, and you further acknowledge and agree that all
	rights in and to your Account are and shall forever be owned by and inure
	to the benefit of EXPERCHAT.
</p>
<p>
	6.5 Your Profile. Any Content posted by you on or in the EXPERCHAT
	Properties (including, but not limited to, on your profile) may not contain
	nudity, violence, sexually explicit, or offensive subject matter. You may
	not post a photograph of another person without that person's permission.
</p>
<p>
	7. Feedback. You agree that submission of any ideas, suggestions,
	documents, and/or proposals to EXPERCHAT through its suggestion, feedback
	or similar pages ("Feedback") is at your own risk and that EXPERCHAT has no
	obligations (including without limitation obligations of confidentiality)
	with respect to such Feedback. You represent and warrant that you have all
	rights necessary to submit the Feedback. You hereby grant to EXPERCHAT a
	fully paid, royalty-free, perpetual, irrevocable, worldwide, non-exclusive,
	and fully sublicensable right and license to use, reproduce, perform,
	display, distribute, adapt, modify, re-format, create derivative works of,
	and otherwise commercially or non-commercially exploit in any manner, any
	and all Feedback, and to sublicense the foregoing rights, in connection
	with the operation and maintenance of the EXPERCHAT Properties.
</p>
<p>
	8. User Conduct. As a condition of use, you agree not to use the EXPERCHAT
	Properties for any purpose that is prohibited by the Terms or by applicable
	law. You shall not (and shall not permit any third-party) either (a) to
	take any action or (b) Make Available any Content on or through the
	EXPERCHAT Properties that: (i) infringes any patent, trademark, trade
	secret, copyright, right of publicity or other right of any person or
	entity; (ii) is unlawful, threatening, abusive, harassing, defamatory,
	libelous, deceptive, fraudulent, invasive of another's privacy, tortious,
	obscene, offensive, or profane; (iii) constitutes unauthorized or
	unsolicited advertising, junk or bulk e-mail; (iv) involves commercial
	activities and/or sales without EXPERCHAT's prior written consent, such as
	contests, sweepstakes, barter, advertising, or pyramid schemes; (v)
	impersonates any person or entity, including any employee or representative
	of EXPERCHAT; (vi) interferes with or attempts to interfere with the proper
	functioning of the EXPERCHAT Properties or uses the EXPERCHAT Properties in
	any way not expressly permitted by the Terms; (vii) introduces software or
	automated agents to the Service so as to produce multiple Accounts or
	generate automated messages; or (viii) attempts or engages in, any
	potentially harmful acts that are directed against the EXPERCHAT
	Properties, including but not limited to violating or attempting to violate
	any security features of the EXPERCHAT Properties, using manual or
	automated software or other means to access, "scrape," "crawl" or "spider"
	any pages contained in the EXPERCHAT Properties, introducing viruses,
	worms, or similar harmful code into the EXPERCHAT Properties, or
	interfering or attempting to interfere with use of the EXPERCHAT Properties
	by any other user, host or network, including by means of overloading,
	"flooding," "spamming," "mail bombing", or "crashing" the EXPERCHAT
	Properties.
</p>
<p>
	9. Investigations. EXPERCHAT may, but is not obligated to, monitor or
	review the EXPERCHAT Properties and Content at any time. Without limiting
	the foregoing, EXPERCHAT shall have the right, in its sole discretion, to
	remove any Content for any reason (or no reason), including if such Content
	violates the Terms or any applicable law. Although EXPERCHAT does not
	generally monitor user activity occurring in connection with the EXPERCHAT
	Properties, if EXPERCHAT becomes aware of any possible violations by you of
	any provision of the Terms, EXPERCHAT reserves the right to investigate
	such violations, and EXPERCHAT may, at its sole discretion, immediately
	terminate your license to use the EXPERCHAT Properties, or change, alter or
	remove your Content, in whole or in part, without prior notice to you.
</p>
<p>
	10. Interactions with Other Users.
</p>
<p>
	10.1 User Responsibility. You are solely responsible for your interactions
	with other Users and Experts of the Services and any other parties with
	whom you interact through the Services; provided, however, that EXPERCHAT
	reserves the right, but has no obligation, to intercede in such disputes.
	You agree that EXPERCHAT will not be responsible for any liabilities
	incurred by you as the result of such interaction and EXPERCHAT will not
	work to resolve any disputes between Users and Experts.
</p>
<p>
	10.2 Content Provided by Experts and Other Users. The EXPERCHAT Properties
	may contain Content provided by Experts and other Users. EXPERCHAT is not
	responsible for and does not control Content it does not produce
	(including, but not limited to, any Expert Sessions). EXPERCHAT has no
	obligation to review or monitor, and does not approve, endorse or make any
	representations or warranties with respect to Expert or User Content. Your
	use of Expert or User Content and interaction is done at your own risk.
</p>
<p>
	10.3 Expert Ratings. EXPERCHAT does not endorse ratings or reviews posted
	on the Service by Users about Experts ("Ratings") and EXPERCHAT is not
	responsible for such Ratings. EXPERCHAT reserves the right to remove any
	Ratings at its sole discretion.
</p>
<p>
	11. Indemnification. You agree to indemnify and hold EXPERCHAT, its
	parents, subsidiaries, affiliates, officers, employees, agents, partners
	and licensors (collectively the "EXPERCHAT Parties" ) harmless from any
	losses, costs, liabilities and expenses (including reasonable attorneys'
	fees) relating to or arising out of: (a) your Content; (b) your use of, or
	inability to use, the EXPERCHAT Properties, including, for Experts, to
	provide Expert Sessions or Expert Courses to a User; (c) your violation of
	the Terms; (d) your violation of any rights of another party, including any
	User; or (e) your violation of any applicable laws, rules or regulations.
	EXPERCHAT reserves the right, at its own cost, to assume the exclusive
	defense and control of any matter otherwise subject to indemnification by
	you, in which event you will fully cooperate with EXPERCHAT in asserting
	any available defenses. You agree that the provisions in this section will
	survive any termination of your Account, the Terms, or your access to the
	EXPERCHAT Properties.
</p>
<p>
	12. Disclaimer of Warranties.
</p>
<p>
	12.1 AS IS. YOU EXPRESSLY UNDERSTAND AND AGREE THAT TO THE EXTENT PERMITTED
	BY APPLICABLE LAW, YOUR USE OF THE EXPERCHAT PROPERTIES IS AT YOUR SOLE
	RISK, AND THE EXPERCHAT PROPERTIES ARE PROVIDED ON AN "AS IS" AND "AS
	AVAILABLE" BASIS, WITH ALL FAULTS. THE EXPERCHAT PARTIES EXPRESSLY DISCLAIM
	ALL WARRANTIES, REPRESENTATIONS, AND CONDITIONS OF ANY KIND, WHETHER
	EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES
	OR CONDITIONS OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
	NON-INFRINGEMENT.
</p>
<p>
	(a) THE EXPERCHAT PARTIES MAKE NO WARRANTY, REPRESENTATION OR CONDITION
	THAT: (1) THE EXPERCHAT PROPERTIES WILL MEET YOUR REQUIREMENTS; (2) YOUR
	USE OF THE EXPERCHAT PROPERTIES WILL BE UNINTERRUPTED, TIMELY, SECURE OR
	ERROR-FREE; (3) THE RESULTS THAT MAY BE OBTAINED FROM USE OF THE EXPERCHAT
	PROPERTIES, INCLUDING ANY INFORMATION PROVIDED IN AN EXPERT SESSION OR
	EXPERT COURSE, WILL BE ACCURATE OR RELIABLE; OR (4) ANY ERRORS IN THE
	EXPERCHAT PROPERTIES WILL BE CORRECTED.
</p>
<p>
	(b) ANY CONTENT, INCLUDING, BUT NOT LIMITED TO, ANY EXPERT SESSIONS,
	DOWNLOADED FROM OR OTHERWISE ACCESSED THROUGH THE EXPERCHAT PROPERTIES IS
	ACCESSED AT YOUR OWN RISK, AND YOU SHALL BE SOLELY RESPONSIBLE FOR ANY
	DAMAGE TO YOUR PROPERTY OR PERSON, INCLUDING, BUT NOT LIMITED TO, YOUR
	COMPUTER SYSTEM AND ANY DEVICE YOU USE TO ACCESS THE EXPERCHAT PROPERTIES,
	OR ANY OTHER LOSS THAT RESULTS FROM ACCESSING SUCH CONTENT.
</p>
<p>
	(c) THE SERVICES MAY BE SUBJECT TO DELAYS, CANCELLATIONS AND OTHER
	DISRUPTIONS. EXPERCHAT MAKES NO WARRANTY, REPRESENTATION OR CONDITION WITH
	RESPECT TO SERVICES, INCLUDING BUT NOT LIMITED TO, THE QUALITY,
	EFFECTIVENESS, REPUTATION AND OTHER CHARACTERISTICS OF SERVICES.
</p>
<p>
	(d) NO ADVICE OR INFORMATION, WHETHER ORAL OR WRITTEN, OBTAINED FROM
	EXPERCHAT, EXPERTS, OR THROUGH THE EXPERCHAT PROPERTIES WILL CREATE ANY
	WARRANTY NOT EXPRESSLY MADE HEREIN.
</p>
<p>
	(e) FROM TIME TO TIME, EXPERCHAT MAY OFFER NEW "BETA" FEATURES OR TOOLS
	WITH WHICH ITS USERS MAY EXPERIMENT. SUCH FEATURES OR TOOLS ARE OFFERED
	SOLELY FOR EXPERIMENTAL PURPOSES AND WITHOUT ANY WARRANTY OF ANY KIND, AND
	MAY BE MODIFIED OR DISCONTINUED AT EXPERCHAT'S SOLE DISCRETION. THE
	PROVISIONS OF THIS SECTION APPLY WITH FULL FORCE TO SUCH FEATURES OR TOOLS.
</p>
<p>
	12.2 No Liability for Conduct of Third Parties. YOU ACKNOWLEDGE AND AGREE
	THAT THE EXPERCHAT PARTIES ARE NOT LIABLE, AND YOU AGREE NOT TO SEEK TO
	HOLD THE EXPERCHAT PARTIES LIABLE, FOR THE CONDUCT OF THIRD PARTIES,
	INCLUDING OPERATORS OF EXTERNAL SITES, AND THAT THE RISK OF INJURY FROM
	SUCH THIRD PARTIES RESTS ENTIRELY WITH YOU.
</p>
<p>
	12.3 No Liability for Conduct of Other Users. YOU ARE SOLELY RESPONSIBLE
	FOR ALL OF YOUR COMMUNICATIONS AND INTERACTIONS WITH EXPERTS AND OTHER
	USERS OF THE EXPERCHAT PROPERTIES. YOU UNDERSTAND THAT EXPERCHAT DOES NOT
	MAKE ANY ATTEMPT TO VERIFY THE STATEMENTS OF EXPERTS OR USERS OF THE
	EXPERCHAT PROPERTIES.
</p>
<p>
	13. <strong>LIMITATION OF LIABILITY</strong>.
</p>
<p>
	13.1 <strong>DISCLAIMER OF CERTAIN DAMAGES.</strong> IN CONSIDERATION OF
	EXPERCHAT'S AGREEMENT TO ALLOW YOU TO USE THE SERVICES, YOU UNDERSTAND AND
	AGREE THAT IN NO EVENT SHALL EXPERCHAT PARTIES BE LIABLE FOR ANY INDIRECT,
	INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES ARISING OUT OF OR
	IN CONNECTION WITH THE EXPERCHAT PROPERTIES, INCLUDING, WITHOUT LIMITATION,
	ANY DAMAGES RESULTING FROM LOSS OF USE, DATA, OR PROFITS, WHETHER OR NOT
	EXPERCHAT HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES, OR FOR ANY
	DAMAGES FOR PERSONAL OR BODILY INJURY OR EMOTIONAL DISTRESS ARISING OUT OF
	OR IN CONNECTION WITH THE TERMS, OR FROM ANY COMMUNICATIONS, INTERACTIONS
	OR MEETINGS WITH OTHER USERS, INCLUDING ANY EXPERTS, OF THE EXPERCHAT
	PROPERTIES, ON ANY THEORY OF LIABILITY, RESULTING FROM: (1) THE USE OR
	INABILITY TO USE THE EXPERCHAT PROPERTIES; (2) THE COST OF PROCUREMENT OF
	SUBSTITUTE GOODS OR SERVICES RESULTING FROM ANY GOODS, DATA, INFORMATION OR
	SERVICES PURCHASED OR OBTAINED OR MESSAGES RECEIVED FOR TRANSACTIONS
	ENTERED INTO THROUGH THE EXPERCHAT PROPERTIES; (3) UNAUTHORIZED ACCESS TO
	OR ALTERATION OF YOUR TRANSMISSIONS OR DATA; (4) STATEMENTS OR CONDUCT OF
	ANY THIRD-PARTY, INCLUDING ANY EXPERTS, ON EXPERCHAT PROPERTIES; OR (5) ANY
	OTHER MATTER RELATED TO THE EXPERCHAT PROPERTIES, WHETHER BASED ON
	WARRANTY, COPYRIGHT, CONTRACT, TORT (INCLUDING NEGLIGENCE), PRODUCT
	LIABILITY OR ANY OTHER LEGAL THEORY.
</p>
<p>
	13.2 Cap on Liability. UNDER NO CIRCUMSTANCES WILL THE EXPERCHAT PARTIES BE
	LIABLE TO YOU FOR MORE THAN THE AMOUNT RECEIVED BY EXPERCHAT AS A RESULT OF
	YOUR USE OF THE EXPERCHAT PROPERTIES IN THE SUBSCRIPTION PERIOD DURING
	WHICH YOU FIRST ASSERT A CLAIM. IF YOU HAVE NOT PAID EXPERCHAT ANY AMOUNTS
	IN THE SUBSCRIPTION PERIOD DURING WHICH YOU FIRST ASSERT ANY SUCH CLAIM,
	THEN EXPERCHAT'S SOLE AND EXCLUSIVE LIABILITY SHALL BE LIMITED TO FIFTY
	DOLLARS ($50).
</p>
<p>
	13.3 User Content. THE EXPERCHAT PARTIES ASSUME NO RESPONSIBILITY FOR THE
	TIMELINESS, DELETION, MIS-DELIVERY OR FAILURE TO STORE ANY CONTENT, USER
	COMMUNICATIONS OR PERSONALIZATION SETTINGS.
</p>
<p>
	13.4 Basis of the Bargain. THE LIMITATIONS OF DAMAGES SET FORTH ABOVE ARE
	FUNDAMENTAL ELEMENTS OF THE BASIS OF THE BARGAIN BETWEEN EXPERCHAT AND YOU.
</p>
<p>
	14. Procedure for Making Claims of Copyright Infringement. It is
	EXPERCHAT's policy to terminate membership privileges of any User who
	infringes copyright upon prompt notification to EXPERCHAT by the copyright
	owner or the copyright owner's legal agent. Without limiting the foregoing,
	if you believe that your work has been copied and posted on the EXPERCHAT
	Properties in a way that constitutes copyright infringement, please provide
	our Copyright Agent with the following information: (1) an electronic or
	physical signature of the person authorized to act on behalf of the owner
	of the copyright interest; (2) a description of the copyrighted work that
	you claim has been infringed; (3) a description of the location on the
	EXPERCHAT Properties of the material that you claim is infringing; (4) your
	address, telephone number and e-mail address; (5) a written statement by
	you that you have a good faith belief that the disputed use is not
	authorized by the copyright owner, its agent or the law; (6) a statement by
	you, made under penalty of perjury, that the above information in your
	notice is accurate and that you are the copyright owner or authorized to
	act on the copyright owner's behalf. Contact information for EXPERCHAT's
	Copyright Agent for notice of claims of copyright infringement is as
	follows:
</p>
<p>
	legal@experchat.com
</p>
<p>
	<br/>
	15. Term and Termination.
</p>
<p>
	15.1 Term. The Terms commence on the date when you accept them (as
	described in the preamble above) and remain in full force and effect while
	you use the EXPERCHAT Properties, unless terminated earlier in accordance
	with the Terms.
</p>
<p>
	15.2 Prior Use. Notwithstanding the foregoing, if you used the EXPERCHAT
	Properties prior to the date you accepted the Terms, you hereby acknowledge
	and agree that the Terms commenced on the date you first used the EXPERCHAT
	Properties (whichever is earlier) and will remain in full force and effect
	while you use the EXPERCHAT Properties, unless earlier terminated in
	accordance with the Terms.
</p>
<p>
	15.3 Termination of Services by You. If you want to terminate the Services
	provided by EXPERCHAT, you may do so by (a) notifying EXPERCHAT at any time
	and (b) closing your Account for all of the Services that you use by
	following the directions on the SERVICE. Your notice should be sent, in
	writing, to EXPERCHAT's address set forth below.
</p>
<p>
	15.4 Effect of Termination. Termination of any Service includes removal of
	access to such Service and barring of further use of the Service.
	Termination of all Service also includes deletion of your password and all
	related information, files and Content associated with or inside your
	Account (or any part thereof), including your Content. Upon termination of
	any Service, your right to use such Service will automatically terminate
	immediately. You understand that any termination of Services may involve
	deletion of your Content associated therewith from our live databases.
	EXPERCHAT will not have any liability whatsoever to you for any suspension
	or termination, including for deletion of your Content. All provisions of
	the Terms which by their nature should survive, shall survive termination
	of Services, including without limitation, ownership provisions, warranty
	disclaimers, and limitation of liability.
</p>
<p>
	16. Remedies.
</p>
<p>
	16.1 Violations. If EXPERCHAT becomes aware of any possible violations by
	you of the Terms, EXPERCHAT reserves the right to investigate such
	violations. If, as a result of the investigation, EXPERCHAT believes that
	criminal activity has occurred, EXPERCHAT reserves the right to refer the
	matter to, and to cooperate with, any and all applicable legal authorities.
	EXPERCHAT is entitled, except to the extent prohibited by applicable law,
	to disclose any information or materials on or in the EXPERCHAT Properties,
	including your Content, in EXPERCHAT's possession in connection with your
	use of the EXPERCHAT Properties, to (1) comply with applicable laws, legal
	process or governmental request; (2) enforce the Terms; (3) respond to any
	claims that your Content violates the rights of third parties; (4) respond
	to your requests for customer service; or (5) protect the rights, property
	or personal safety of EXPERCHAT, its Users or the public, and all
	enforcement or other government officials, as EXPERCHAT in its sole
	discretion believes to be necessary or appropriate.
</p>
<p>
	16.2 Breach. In the event that EXPERCHAT determines, in its sole
	discretion, that you have breached any portion of the Terms, or have
	otherwise demonstrated conduct inappropriate for the EXPERCHAT Properties,
	EXPERCHAT reserves the right to:
</p>
<p>
	(a) Warn you via e-mail (to any e-mail address you have provided to
	EXPERCHAT) that you have violated the Terms;
</p>
<p>
	(b) Delete any of your Content provided by you or your agent(s) to the
	EXPERCHAT Properties;
</p>
<p>
	(c) Discontinue your registration(s) with any of the EXPERCHAT Properties,
	including the Services or any EXPERCHAT community;
</p>
<p>
	(d) Notify and/or send Content to and/or fully cooperate with the proper
	law enforcement authorities for further action; and/or
</p>
<p>
	(e) Pursue any other action which EXPERCHAT deems to be appropriate.
</p>
<p>
	17. International Users. This SERVICE can be accessed from countries around
	the world and may contain references to EXPERCHAT Properties and Content
	that are not available in your country. These references do not imply that
	EXPERCHAT intends to announce such EXPERCHAT Properties or Content in your
	country. The EXPERCHAT Properties are controlled and offered by EXPERCHAT
	from its facilities in the United States of America. EXPERCHAT makes no
	representations that the EXPERCHAT Properties are appropriate or available
	for use in other locations. Those who access or use the EXPERCHAT
	Properties from other jurisdictions do so at their own volition and are
	responsible for compliance with local law.
</p>
<p>
	18. General Provisions.
</p>
<p>
	18.1 Electronic Communications. The communications between you and
	EXPERCHAT use electronic means, whether you visit the EXPERCHAT Properties
	or send EXPERCHAT e-mails, or whether EXPERCHAT posts notices on the
	EXPERCHAT Properties or communicates with you via e-mail. For contractual
	purposes, you (1) consent to receive communications from EXPERCHAT in an
	electronic form; and (2) agree that all terms and conditions, agreements,
	notices, disclosures, and other communications that EXPERCHAT provides to
	you electronically satisfy any legal requirement that such communications
	would satisfy if it were to be in writing. The foregoing does not affect
	your statutory rights.
</p>
<p>
	18.2 Release. You hereby release EXPERCHAT Parties and their successors
	from claims, demands, any and all losses, damages, rights, and actions of
	any kind, including personal injuries, death, and property damage, that is
	either directly or indirectly related to or arises from any interactions
	with or conduct of other SERVICE Users or third-party services of any kind
	arising in connection with or as a result of the Terms or your use of the
	EXPERCHAT Properties. If you are a California resident, you hereby waive
	California Civil Code Section 1542, which states, "A general release does
	not extend to claims which the creditor does not know or suspect to exist
	in his favor at the time of executing the release, which, if known by him
	must have materially affected his settlement with the debtor.
</p>
<p>
	18.3 Assignment. The Terms, and your rights and obligations hereunder, may
	not be assigned, subcontracted, delegated, or otherwise transferred by you
	without EXPERCHAT's prior written consent, and any attempted assignment,
	subcontract, delegation, or transfer in violation of the foregoing will be
	null and void. EXPERCHAT may freely assign the Terms.
</p>
<p>
	18.4 Force Majeure. EXPERCHAT shall not be liable for any delay or failure
	to perform resulting from causes outside its reasonable control, including,
	but not limited to, acts of God, war, terrorism, riots, embargos, acts of
	civil or military authorities, fire, floods, accidents, strikes or
	shortages of transportation facilities, fuel, energy, labor or materials.
</p>
<p>
	18.5 Compliance. If you believe that EXPERCHAT has not adhered to the
	Terms, please contact EXPERCHAT by emailing us at
	Customer_Service@EXPERCHAT.com. We will do our best to address your
	concerns. If you feel that your complaint has been addressed incompletely,
	we invite you to let us know for further investigation.
</p>
<p>
	18.6 Limitations Period. YOU AND EXPERCHAT AGREE THAT ANY CAUSE OF ACTION
	ARISING OUT OF OR RELATED TO THE TERMS, THE EXPERCHAT PROPERTIES OR THE
	CONTENT MUST COMMENCE WITHIN ONE (1) YEAR AFTER THE CAUSE OF ACTION
	ACCRUES. OTHERWISE, SUCH CAUSE OF ACTION IS PERMANENTLY BARRED.
</p>
<p>
	18.7 Dispute Resolution.
</p>
<p>
	(a) Any claim or dispute (excluding claims for injunctive or other
	equitable relief as set forth below) in connection with the Terms where the
	total amount of the award sought is less than Five Thousand U.S. Dollars
	(US $5,000.00) may be resolved in a cost effective manner through binding
	non-appearance-based arbitration, at the option of the party seeking
	relief. Such arbitration shall be initiated through an established
	alternative dispute resolution provider ("ADR Provider") that offers
	arbitration as set forth in this section and under the rules of such ADR
	Provider, except to the extent such rules are in conflict with the Terms.
	The party demanding arbitration will propose an ADR Provider and the other
	party shall not unreasonably withhold consent to use such ADR Provider. The
	ADR Provider and the parties must comply with the following rules: (1) the
	arbitration shall be conducted by telephone, online and/or be solely based
	on written submissions, the specific manner shall be chosen by the party
	initiating the arbitration; (2) all arbitration proceedings shall be held
	in English; (3) the arbitration shall not involve any personal appearance
	by the parties or witnesses unless otherwise mutually agreed by the
	parties; and (4) any judgment on the award rendered by the arbitrator may
	be entered in any court of competent jurisdiction. Each party shall bear
	its own costs (including attorney fees) and disbursements arising out of
	the arbitration, and shall pay an equal share of the fees and costs of the
	ADR Provider. Notwithstanding the foregoing, EXPERCHAT may seek injunctive
	or other equitable relief to protect its intellectual property rights in
	any court of competent jurisdiction.
</p>
<p>
	(b) Any other dispute (including whether the claims asserted are
	arbitrable) shall be referred to and finally determined by binding and
	confidential arbitration. Arbitration shall be subject to the Federal
	Arbitration Act and not any state arbitration law. The arbitration shall be
	conducted before one commercial arbitrator with substantial experience in
	resolving commercial contract disputes from the American Arbitration
	Association ("AAA"). As modified by the Terms, and unless otherwise agreed
	upon by the parties in writing, the arbitration will be governed by the
	AAA's Commercial Arbitration Rules and, if the arbitrator deems them
	applicable, the Supplementary Procedures for Consumer Related Disputes
	(collectively "Rules and Procedures").
</p>
<p>
	(c) You are thus GIVING UP YOUR RIGHT TO GO TO COURT to assert or defend
	your rights. Your rights will be determined by a NEUTRAL ARBITRATOR and NOT
	a judge or jury. You are entitled to a FAIR HEARING, BUT the arbitration
	procedures are SIMPLER AND MORE LIMITED THAN RULES APPLICABLE IN COURT.
	Arbitrator decisions are as enforceable as any court order and are subject
	to VERY LIMITED REVIEW BY A COURT.
</p>
<p>
	(d) You and EXPERCHAT must abide by the following rules: (i) ANY CLAIMS
	BROUGHT BY YOU OR EXPERCHAT MUST BE BROUGHT IN THE PARTIES' INDIVIDUAL
	CAPACITY, AND NOT AS A PLAINTIFF OR CLASS MEMBER IN ANY PURPORTED CLASS OR
	REPRESENTATIVE PROCEEDING; (ii) THE ARBITRATOR MAY NOT CONSOLIDATE MORE
	THAN ONE PERSON'S CLAIMS, MAY NOT OTHERWISE PRESIDE OVER ANY FORM OF A
	REPRESENTATIVE OR CLASS PROCEEDING, AND MAY NOT AWARD CLASS-WIDE RELIEF;
	(iii) the arbitrator shall honor claims of privilege and privacy recognized
	at law; (iv) the arbitration shall be confidential, and neither you nor
	EXPERCHAT may disclose the existence, content or results of any
	arbitration, except as may be required by law or for the purposes of
	enforcement of the arbitration award; (vii) the arbitrator may award any
	individual relief or individual remedies that are permitted by applicable
	law; and (viii) each side pays its own attorneys' fees and expenses unless
	there is a statutory provision that requires the prevailing party to be
	paid its fees and litigation expenses, and then in such instance , the fees
	and costs awarded shall be determined by applicable law.
</p>
<p>
	(e) The arbitration proceedings, and all pleadings and written evidence
	will be in the English language. Any written evidence originally in a
	language other than English will be submitted in English translation
	accompanied by the original or true copy thereof. The English language
	version will control. The arbitrator shall issue a written award and
	statement of decision describing the essential findings and conclusions on
	which the award is based, including the calculation of any damages awarded.
	The arbitrator will not have authority to award damages against EXPERCHAT
	in excess of the amount, or other than the types, allowed by Section 13 of
	the Terms. Judgment on the award of the arbitrator may be entered by any
	court of competent jurisdiction. The arbitrator also shall be authorized to
	grant any temporary, preliminary or permanent equitable remedy or relief it
	deems just and equitable and within the scope of the Terms, including,
	without limitation, an injunction or order for specific performance. The
	arbitration award shall be final and binding upon the parties without
	appeal or review except as permitted by California law or United States
	Federal law.
</p>
<p>
	Further, claims of defamation, violation of the Computer Fraud and Abuse
	Act, and infringement or misappropriation of the other party's patent,
	copyright, trademark, or trade secret shall not be subject to this
	arbitration agreement. Such claims shall be exclusively brought in the
	state or federal courts located in Fairfax County, Virginia. Additionally,
	notwithstanding this agreement to arbitrate, either party may seek
	emergency equitable relief before the state or federal courts located in
	Fairfax County, Virginia, in order to maintain the status quo pending
	arbitration, and hereby agree to submit to the exclusive personal
	jurisdiction of the courts located within Fairfax County, Virginia for such
	purpose. A request for interim measures shall not be deemed a waiver of the
	right to arbitrate.
</p>
<p>
	(f) With the exception of (d)(i) and (ii) above (prohibiting arbitration on
	a class or collective basis), if any part of this arbitration provision is
	deemed to be invalid, unenforceable, or illegal, or otherwise conflicts
	with the Rules and Procedures, then the balance of this arbitration
	provision shall remain in effect and shall be construed in accordance with
	its terms as if the invalid, unenforceable, illegal or conflicting
	provision were not contained herein. If, however, either (d)(i) or (ii) is
	found to be invalid, unenforceable or illegal, then the entirety of this
	arbitration provision shall be null and void, and neither you nor EXPERCHAT
	shall be entitled to arbitration. If for any reason, a claim proceeds in
	court rather than in arbitration, the exclusive jurisdiction to resolve the
	dispute shall be in state court in Fairfax County, Virginia or federal
	court in Alexandria, Virginia if federal jurisdiction exists. By using the
	EXPERCHAT Properties in any manner, you agree to the above arbitration
	provision.
</p>
<p>
	For more information on AAA, its Rules and Procedures, and how to file an
	arbitration claim, you may call AAA at 800-778-7879 or visit the AAA
	SERVICE at http://www.adr.org.
</p>
<p>
	18.8 Governing Law. The Terms and any action related thereto will be
	governed and interpreted by and under the laws of the Commonwealth of
	Virginia, consistent with the Federal Arbitration Act, without giving
	effect to any principles that provide for the application of the law of
	another jurisdiction. The United Nations Convention on Contracts for the
	International Sale of Goods does not apply to the Terms. Please note that
	the laws of the jurisdiction where you are located may be different from
	Virginia law, including the laws governing what can legally be sold,
	bought, exported, offered or imported. You shall always comply with all the
	international and domestic laws, ordinances, regulations and statutes that
	are applicable to your use of the EXPERCHAT Properties.
</p>
<p>
	18.9 Choice of Language. It is the express wish of the parties that the
	Terms and all related documents have been drawn up in English. C'est law
	volone expresse des parties que la presente convention ainsi que les
	documents qui s'y rattacent soient rediges en anglais.
</p>
<p>
	18.10 Notice. When EXPERCHAT requires that you provide an e-mail address,
	you are responsible for providing EXPERCHAT with your most current e-mail
	address. In the event that the last e-mail address you provided to
	EXPERCHAT is not valid, or for any reason is not capable of delivering to
	you any notices required/ permitted by the Terms, EXPERCHAT's dispatch of
	the e-mail containing such notice will nonetheless constitute effective
	notice. You may give notice to EXPERCHAT at the following address: 12110
	Sunset Hills Road STE 600, Reston, Virginia 20190. Such notice shall be
	deemed given when received by EXPERCHAT by letter delivered by nationally
	recognized overnight delivery service or first class postage prepaid mail
	at the above address.
</p>
<p>
	18.11 Waiver. Any waiver or failure to enforce any provision of the Terms
	on one occasion will not be deemed a waiver of any other provision or of
	such provision on any other occasion.
</p>
<p>
	18.12 Severability. If any provision of the Terms is, for any reason, held
	to be invalid or unenforceable, the other provisions of the Terms will
	remain enforceable, and the invalid or unenforceable provision will be
	deemed modified so that it is valid and enforceable to the maximum extent
	permitted by law.
</p>
<p>
	18.13 Export Control. You may not use, export, import, or transfer the
	EXPERCHAT Properties except as authorized by U.S. law, the laws of the
	jurisdiction in which you obtained the EXPERCHAT Properties, and any other
	applicable laws. In particular, but without limitation, the EXPERCHAT
	Properties may not be exported or re-exported (a) into any United States
	embargoed countries; or (b) to anyone on the U.S. Treasury Department's
	list of Specially Designated Nationals or the U.S. Department of Commerce's
	Denied Person's List or Entity List. By using the EXPERCHAT Properties, you
	represent and warrant that (i) you are not located in a country that is
	subject to a U.S. Government embargo, or that has been designated by the
	U.S. Government as a "terrorist supporting" country and (ii) you are not
	listed on any U.S. Government list of prohibited or restricted parties. You
	also will not use the EXPERCHAT Properties for any purpose prohibited by
	U.S. law, including the development, design, manufacture or production of
	missiles, nuclear, chemical or biological weapons. You acknowledge and
	agree that products, services or technology provided by EXPERCHAT are
	subject to the export control laws and regulations of the United States.
	You shall comply with these laws and regulations and shall not, without
	prior U.S. government authorization, export, re-export, or transfer
	EXPERCHAT products, services or technology, either directly or indirectly,
	to any country in violation of such laws and regulations.
</p>
<p>
	18.14
	<a href="#" target="_blank">
		Accessing and Download the Application from the Apple App Store. The
		following applies to any Application accessed through or downloaded
		from the Apple App Store ("App Store Sourced Application"):
	</a>
</p>
<p>
	(a) You acknowledge and agree that (i) the Terms are between you and
	EXPERCHAT only, and not Apple, and (ii) EXPERCHAT, not Apple, is solely
	responsible for the App Store Sourced Application and content thereof. Your
	use of the App Store Sourced Application must comply with the App Store
	Terms of Service.
</p>
<p>
	(b) You acknowledge that Apple has no obligation whatsoever to furnish any
	maintenance and support services with respect to the App Store Sourced
	Application.
</p>
<p>
	(c) Any other claims, losses, liabilities, damages, costs or expenses
	attributable to any failure to conform to any warranty will be the sole
	responsibility of EXPERCHAT, and not Apple.
</p>
<p>
	(d) You and EXPERCHAT acknowledge that, as between EXPERCHAT and Apple,
	Apple is not responsible for addressing any claims you have or any claims
	of any third-party relating to the App Store Sourced Application or your
	possession and use of the App Store Sourced Application, including, but not
	limited to: (i) product liability claims; (ii) any claim that the App Store
	Sourced Application fails to conform to any applicable legal or regulatory
	requirement; and (iii) claims arising under consumer protection or similar
	legislation.
</p>
<p>
	(e) You and EXPERCHAT acknowledge that, in the event of any third-party
	claim that the App Store Sourced Application or your possession and use of
	that App Store Sourced Application infringes that third-party's
	intellectual property rights, as between EXPERCHAT and Apple, EXPERCHAT,
	not Apple, will be solely responsible for the investigation, defense,
	settlement and discharge of any such intellectual property infringement
	claim to the extent required by the Terms.
</p>
<p>
	(f) You and EXPERCHAT acknowledge and agree that Apple, and Apple's
	subsidiaries, are third-party beneficiaries of the Terms as related to your
	license of the App Store Sourced Application, and that, upon your
	acceptance of the terms and conditions of the Terms, Apple will have the
	right (and will be deemed to have accepted the right) to enforce the Terms
	as related to your license of the App Store Sourced Application against you
	as a third-party beneficiary thereof.
</p>
<p>
	(g) Without limiting any other terms of the Terms, you must comply with all
	applicable third-party terms of agreement when using the App Store Sourced
	Application.
</p>
<p>
	18.15 Accessing and Download the Application from Play Store. The following
	applies to any Application accessed through or downloaded from the Google
	Play Store ("Play Store Sourced Application"):
</p>
<p>
	(a) You acknowledge and agree that (i) the Terms are concluded between you
	and EXPERCHAT only, and not Google, and (ii) EXPERCHAT, not Google, is
	solely responsible for the Play Store Sourced Application and content
	thereof. Your use of the Play Store Sourced Application must comply with
	the Play Store Terms of Service.
</p>
<p>
	(b) You acknowledge that Google has no obligation whatsoever to furnish any
	maintenance and support services with respect to the Play Store Sourced
	Application.
</p>
<p>
	(c) Any other claims, losses, liabilities, damages, costs or expenses
	attributable to any failure to conform to any warranty will be the sole
	responsibility of EXPERCHAT, and not Google.
</p>
<p>
	(d) You and EXPERCHAT acknowledge that, as between EXPERCHAT and Google,
	Google is not responsible for addressing any claims you have or any claims
	of any third-party relating to the Play Store Sourced Application or your
	possession and use of the Play Store Sourced Application, including, but
	not limited to: (i) product liability claims; (ii) any claim that the Play
	Store Sourced Application fails to conform to any applicable legal or
	regulatory requirement; and (iii) claims arising under consumer protection
	or similar legislation.
</p>
<p>
	(e) You and EXPERCHAT acknowledge that, in the event of any third-party
	claim that the Play Store Sourced Application or your possession and use of
	that play Store Sourced Application infringes that third-party's
	intellectual property rights, as between EXPERCHAT and Google, EXPERCHAT,
	not Google, will be solely responsible for the investigation, defense,
	settlement and discharge of any such intellectual property infringement
	claim to the extent required by the Terms.
</p>
<p>
	(f) You and EXPERCHAT acknowledge and agree that Google, and Google's
	subsidiaries, are third-party beneficiaries of the Terms as related to your
	license of the Play Store Sourced Application, and that, upon your
	acceptance of the terms and conditions of the Terms, Google will have the
	right (and will be deemed to have accepted the right) to enforce the Terms
	as related to your license of the Play Store Sourced Application against
	you as a third-party beneficiary thereof.
</p>
<p>
	(g) Without limiting any other terms of the Terms, you must comply with all
	applicable third-party terms of agreement when using the Play Store Sourced
	Application.
</p>
<p>
	18.16 Consumer Complaints. In accordance with Virginia Consumer Protection
	Act Code &#167;59.1-502.2, you may report complaints to the Consumer
	Protection Section of the Office of the Attorney General of Virginia by
	accessing their web site at www.oag.state.va.us/consumer-protection, or by
	telephone at (800) 552-9963.
</p>
<p>
	18.17 Entire Agreement. The Terms are the final, complete and exclusive
	agreement of the parties with respect to the subject matter hereof and
	supersedes and merges all prior discussions between the parties with
	respect to such subject matter.
</p>
