<!DOCTYPE html>
<html>

<head>
    <title></title>
</head>

<body style="margin:0px; padding:0px background:#f8f8f8">
    <table style="width:100%; background:#f8f8f8" bgcolor="#f8f8f8" cellpadding="0" cellspacing="0" align="center" valign="middle" border="0">
        <tr>
            <td>
                <table align="center" style="max-width:600px;width:100%;" border="0">
                    <tr>
                        <td align="left">
                            <a href="http://www.experchat.com/"><img src="{{ experchat_logo }}" style="outline:none; border:none"></a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table style="background:#fff; width:100%; border:0px" align="center" border="0">
                                <tr>
                                    <td style="width:438px; padding:40px 40px 20px 40px;">
                                        <p style="font-family:arial,sans-serif; color:#757774; font-size:14px; line-height: 1.5;font-weight: bold">Forgot your password? Time to reset it.</p>
                                        <p style="font-family:arial,sans-serif; color:#757774; font-size:14px; line-height: 1.5;">Hello {{ name }},</p>
                                        <p style="font-family:arial,sans-serif; color:#757774; font-size:14px; line-height: 1.5;">It looks like you forgot your password and have requested to reset it. Click the Reset My Password button below which will take you to a page to set up a new password.</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <table style="text-align:center; background:#23b4ff;text-decoration: none !important;width:274px;" align="center">
                                            <tr>
                                                <td style="text-align:center; background:#23b4ff;text-decoration: none !important;width:274px; height: 51px;">
                                                    <a href="{{ frontend_url }}{{ password_reset_url }}/?uid={{ uid }}&token={{ token }}" style="text-decoration: none; font-size:18px; font-family:arial,sans-serif; color:#fff; text-transform: uppercase;">Reset My Password</a>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width:438px; padding:40px;">
                                        <p style="font-family:arial,sans-serif; color:#757774; font-size:14px; margin:0px;">Many thanks,</p>
                                        <p style="font-family:arial,sans-serif; color:#757774; font-size:14px; margin:0px;">The ExperChat Team</p>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td align="center">
                            <table>
                                <tr>
                                    <td>
                                        <a href="https://www.facebook.com/experchat" style="outline:none"><img src="{{ fb_logo }}" style="outline:none; border: none"></a>
                                    </td>
                                    <td>
                                        <a href="https://twitter.com/"><img src="{{ twitter_logo}}" style="outline:none; border:none"></a>
                                    </td>
                                    <td>
                                        <a href="https://www.instagram.com/experchat/"><img src="{{ insta_logo }}"  style="outline:none; border:none"></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center" colspan="3">
                                        <a style="font-family:arial,sans-serif; color:#757774; font-size:14px; margin:0px; text-decoration: none !important">www.experchat.com</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center" colspan="3">
                                        <a style="font-family:arial,sans-serif; color:#23b4ff; font-size:14px; margin:0px; text-decoration: underline !important">Privacy Policy</a>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>

</html>
